*{
    align-items: center;
    margin-left: 100px;


}

.btn-1{
    width: 100px;
    height: 40px;
    color: white;
    background: green;
}

.btn-2{
    color: white;
    background-color: red;
    width: 300px;
    height: 40px;
}